# dev
.DS_Store
**/.idea/
.vscode/
dist/

# rime
build/
sync/
*.userdb/
installation.yaml
user.yaml
*.custom.yaml

# IMR download
wanxiang-lts-zh-hans.gram
imr_grammar.yaml
etags/*
dicts/*
downloads/*
opencc/*
symbols_caps_v.yaml

# others
ignored
